h1, h2, h3, h4, h5, h6, h7, p, b, li, a form, input
{
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: var(--letras);
}

a
{
    text-decoration: underline;
    color: var(--urls);
}

h1, h2, h3, h4, h5, h6, h7
{
    font-weight: bold;
}

h1
{
    letter-spacing: 0.1vw;
    margin-bottom: 15px;
    font-size: xx-large;
}

h2
{
    font-size: large;
}

h3
{
    margin-top: 0px;
}

.h3about
{
    font-weight: bold;
    margin-top: 15px;
}

h5
{
    margin-bottom: 15px;
}

h6
{
    font-size: large;
}

button
{
    margin-top: 1px;
    margin-bottom: 1px;
}

header
{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.headerFlex
{
    align-items: center;
}

.divRostro
{
    margin: auto;
    max-width: 350px;
    cursor: pointer;
}

.fotoCara
{
    margin: auto;
    width: 65%;
    min-width: 95px;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 2px 5px var(--sombras), 0 2px 2px var(--sombras);
    border: 1px solid var(--bordes);
}

#ampliarFoto
{
    display: none;
}

nav
{
    text-align: center;
    padding-top: 35px;
    transition: all 0.15s;
    transition-timing-function: ease;
}

.ulBanderas
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding-left: 10%;
    padding-right: 10%;
}

.ulBanderas li
{
    margin: 0px;
    flex: 10%;
}

.ulBanderas a
{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul
{
    list-style-type: none;
    padding: 0px;
    margin: auto;
}

nav a
{
    position: relative;
    z-index: 1;
}

nav b
{
    color: var(--letras);
}

nav a, nav a:after, nav a:before
{
    transition: all .35s;
}

nav a:after
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ' ';
    color: var(--miColor);
    background: var(--miColor);
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav a img
{
    text-decoration: none;
    color: #000000;
    height: 15px;
}

.ulEnlaces
{
    align-items: center;
    justify-content: center;
}

.ulEnlaces li
{
    margin: 0px;
    flex: 1;
    min-width: 90px;
    max-width: 50vw;
    border-top: 1px solid var(--bordes);
    margin: auto;
}

.ulEnlaces a
{
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.imgDarkMode
{
    border: 0px;
    border-radius: 25%;
    background-color: transparent;
}

#botonDarkMode
{
    background-color: var(--fondo);
    border: 0px;
    width: 20px;
    height: auto;
    padding: 0px;
    margin-bottom: 15px;
}

#botonDarkMode img
{
    max-height: 100%;
    max-width: 100%;
}

body
{
    background-color: var(--fondo);
    width: 100%;
    margin: 0px;
}

.idiomas
{
    display: flex;
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.idiomas a
{
    flex: 1;
    margin: auto;
}

.idiomas img
{
    width: 100%;
    max-width: 30px;
    height: auto;
}

.contenedorSecciones
{
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.seccion
{
    text-align: left;
}

.infoPersonal
{
    font-size: medium;
    text-align: justify;
    line-height: 25px;
}

.textoExperiencia
{
    font-size: medium;
    text-align: justify;
    line-height: 25px;
}

.tarjetaArriba
{
    opacity: 0;
    border: 1px solid var(--bordes);
    background-color: var(--tarjetas);
    padding: 20px;
    padding-left: 30px;
    padding-right: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    z-index: 3;
}

.tarjetaArribaSimple
{
    opacity: 0;
    border-bottom: 1px solid var(--bordes);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 40px;
}

.separadorTarjeta
{
    border-bottom: 1px solid var(--bordes);
    margin-bottom: 20px;
}

.separadorFooter
{
    border-bottom: 1px solid #000000;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separadorDetalles
{
    border-bottom: 1px solid var(--bordes);
    margin-top: 20px;
    margin-bottom: 20px;
}

.tarjetaDetalles
{
    border-top: 1px solid var(--fondo);
    border-bottom: 1px solid var(--fondo);
    border-left: 1px solid var(--bordes);
    border-right: 1px solid var(--bordes);
    display: none;
    background: var(--tarjetas);
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.pieDeFotoCarousel
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.tarjetaAbajo
{
    opacity: 0;
    border: 1px solid var(--bordes);
    background-color: var(--tarjetas);
    color: var(--letras);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-bottom: 40px;
    margin-top: -1px;
}

.tarjetaDetalles img
{
    margin-bottom: 15px;
}

.tarjetaAbajo button
{
    margin: auto;
    width: 90%;
    background-color: inherit;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    border: none;
}

.tarjetaTitulo
{
    margin-top: 10px;
    padding: 20px;
}

.logoTarjeta
{
    background-size: contain;
    background-repeat: no-repeat;
}

.logoTitulo
{
    flex: 1;
    min-width: 75px;
    max-width: 75px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.logoTitulo img
{
    width: 100%;
    height: auto;
}

.tarjetaEstudiosInfo
{
    flex: 6;
    padding-left: 20px;
    padding-right: 20px;
}

.contenedorCompetencias
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.competencia
{
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px var(--sombras), 0 3px 3px var(--sombras);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: 10px;
    transition: all 0.15s;
}

.competenciaSimple
{
    box-shadow: 0 0px 0px var(--sombras), 0 0px 0px var(--sombras);
    border: 1px solid var(--bordes);
}

.competenciaExtensible
{
    animation-name: spamCompetencias;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.competencia img
{
    width: 100%;
    height: auto;
}

.competenciaDetalle
{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.competenciaDetalle img
{
    width: 100%;
    height: auto;
}

.item
{
    text-align: center;
}

.separacionDetalle
{
    width: 25px;
    height: 50px;
    margin: 10px;
}

.separacionDetalle img
{
    width: 100%;
    height: auto;
}

.item
{
    border: 1px solid;
    border-radius: 10px;
    border-top: 0px;
}

.imgDetalles
{
    width: 100%;
    margin: auto;
}

.imgDetalles img
{
    width: 100%;
}

iframe
{
    margin-bottom: 10px;
}

.botonTarjetaAbajo
{
    color: var(--tarjetas);
}

.seccionContact a
{
    text-decoration: underline;
    color: var(--urls);
}

.introContacto
{
    margin-top: 25px;
}

.sitioContacto
{
    display: flex;
    margin-top: 1px;
    margin-bottom: 8px;
}

.sitioContacto p
{
    margin-top: 2px;
}

.filaAbout
{
    display: flex;
}

.sitioContacto img, .filaAbout img
{
    object-fit: contain;
    width: 20px;
}

.iconoContacto, .iconoAbout
{
    margin-right: 10px;
}

.circuloSubir
{
    display: none;
}

.listaAbajo
{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
}

.listaAbajo a
{
    text-decoration: underline;
    font-weight: normal;
    flex: 1;
    color: var(--letras);
}

#footer
{
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--miColor);
}

#footer p
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer p, footer b, .listaAbajo a
{
    color: #000000;
    text-decoration: none;
}

.carousel-indicators li
{
    visibility: hidden;
}

@keyframes spamCompetencias
{
    27%
    {
        transform: rotate(0deg);
    }
    27.5%
    {
        transform: rotate(15deg);
    }
    28.5%
    {
        transform: rotate(-15deg);
    }
    29.5%
    {
        transform: rotate(15deg);
    }
    30%
    {
        transform: rotate(0deg);
    }
}

.animInicioTarjeta
{
    position: relative;
    opacity: 1;
    animation-name: animInicioTarjeta;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.noAnim
{
    opacity: 1;
    animation-name: none;
}

@keyframes animInicioTarjeta
{
    0%
    {
        opacity: 0;
        top: 500px;
        margin-top: 500px;
    }
    100%
    {
        opacity: 1;
        top: 0px;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 800px)
{
    header, .contenedorSecciones, #footer
    {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 750px;
    }
    
    h1, h2
    {
        text-align: left;
        margin-top: 0px;
    }

    header
    {
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .headerFlex
    {
        display: flex;
    }

    .divRostro
    {
        flex: 1;
    }
    
    .fotoCara:hover
    {
        cursor: pointer;
    }

    .headerDiv
    {
        flex: 3;
        padding-left: calc(20px + 1vw);
    }

    #ampliarFoto
    {
        position: fixed;
        background-color: var(--fondo);
        text-align: center;
        justify-content: center;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        padding: 20px;
        z-index: 5;
    }

    .contenedorAmpliarFoto
    {
        width: 50%;
        height: 100%;
        margin: auto;
    }

    #ampliarFoto button
    {
        display: block;
        margin-left: auto; 
        margin-right: 0;
    }

    #ampliarFoto img
    {
        position: static;
        height: 95%;
        width: auto;
    }

    nav
    {
        margin: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        position: sticky;
        z-index: 4;
	    top: 0;
        width: 700px;
    }

    .navArriba
    {
        border-top: 1px solid var(--bordes);
        border-bottom: 1px solid var(--bordes);
    }
    
    .navFija
    {
        background-color: var(--fondo);
        width: 100%;
        padding: 0px calc(25% - 190px);
        box-shadow: 0px 0px 20px var(--sombras);
    }

    #botonDarkMode
    {
        width: 20px;
        height: auto;
        padding: 0px;
        margin-bottom: 0px;
    }

    .ulBanderas
    {
        flex: 1;
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .ulEnlaces
    {
        flex: 19;
        display: flex;
        flex-wrap: wrap;
    }

    .ulEnlaces li
    {
        border-top: 0px;
    }

    .ulEnlaces a:hover:after
    {
        color: var(--letras);
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    .contenedorSecciones
    {
        padding-top: 35px;
    }

    .competencia
    {
        filter: grayscale(100%) contrast(120%);
        transition: 0.25s;
    }

    .competenciaSimple
    {
        filter: grayscale(0%) contrast(100%);
    }

    @keyframes saltoCompetencias
    {
        0%
        {
            bottom: 0px;
        }
        50%
        {
            bottom: 2px;
        }
        100%
        {
            bottom: 0px;
        }
    }

    .competenciaAbout:hover 
    {
        animation-name: giroCompetencias;
        animation-duration: 0.25s;
    }

    @keyframes giroCompetencias
    {
        100%
        {
            transform: rotate(360deg);
        }
    }
    
    .tarjetaArriba:hover .competencia
    {
        filter: grayscale(0%) contrast(100%);
    }

    .tarjetaArriba:hover .competenciaExtensible
    {
        position: relative;
        animation-name: saltoCompetencias;
        animation-duration: 0.25s;
        animation-iteration-count: 1;
    }

    .competencia:before
    {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        background-color: var(--etiquetas);
        color: var(--fondo);
        font-family: 'Baloo Bhaijaan 2', cursive;
        text-align: center;
        border-radius: 5px;
        padding: 5px 5px;
        transition: opacity 0.25s ease-in-out; 
        position: absolute;
        top: 120%;
        right: -70%;
        left: -70%;
    }

    .competenciaExtensible:hover
    {
        filter: grayscale(0%) contrast(120%);
        margin-top: 6px;
        cursor: pointer;
    }

    .competencia:hover:before
    {
        animation-name: competenciaBeforeAparicion;
        animation-duration: 15s;
        transition-delay: 1s;
    }

    @keyframes competenciaBeforeAparicion
    {
        0%
        {
            visibility: hidden;
            opacity: 0;
        }
        1%
        {
            opacity: 0;
            visibility: visible;
        }
        2%
        {
            opacity: 0.85;
            visibility: visible;
        }
        100%
        {
            opacity: 0.85;
            visibility: visible;
        }
    }

    .circuloSubir
    {
        border: 0px;
        border-radius: 50%;
        display: block;
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: -10%;
        right: 10%;
        background-color: var(--miColor);
        justify-content: center;
        text-align: center;
        transition: all 0.15s;
        transition-timing-function: ease;
        z-index: 100;
    }

    .circuloFijo
    {
        bottom: 5%;
    }

    .circuloSubir img
    {
        width: 100%;
    }

    .listaAbajo
    {
        width: 60%;
    }

    footer .intercambiador:hover b
    {
        color: #FFFFFF;
        cursor: pointer;
    }

    .separadorFooter
    {
        width: 55%;
    }
}